/*-- scss:defaults --*/
$az_red: #AB0520;
$az_blue: #0C234B;

//Neutrals
$warm_gray: #F4EDE5;
$cool_gray: #E2E9EB;

//Complimentary
$midnight: #001C48;
$azurite: #1E5288;
$oasis: #378DBD;
$chili: #8B0015;

// Highlight/Accent
$bloom: #EF4056;
$sky: #81D3EB;
$leaf: #70B865;
$river: #007D84;
$mesa: #A95C42;




//value box colors
$primary: $azurite;